#upgradeBlock {
    border: 10px solid black;
    padding: 1em;
}

#imageClicker {
    margin-top: 10em;
    width: 15em;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.upgradeIcon {
    height: 5em;
    width: auto;
}

* {
    background-image: url("image/circuit.png");
}